html {
  margin: 0;
}

span {
  display: block;
}


.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
div {
  margin: 0 auto;
  width: 35%;
  
  
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
